phishing.tp-stack.co.uk {
    tls internal
    handle_path /static/* {
        root * /srv/staticfiles
        file_server
    }
    handle_path /media/* {
        root * /srv/media
        file_server
    }
    handle {
        reverse_proxy web:8000
    }
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
        X-XSS-Protection "1; mode=block"
    }
    encode gzip
    log {
        output stdout
        format console
    }
}

# Keycloak IDM - accessible at https://idm.tp-stack.co.uk
idm.tp-stack.co.uk {
    tls internal
    reverse_proxy keycloak:8080
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
    }
    encode gzip
    log {
        output stdout
        format console
    }
}