{% extends "app01_phish_detector/base.html" %}
{% load static %}

{% block body_block %}


<style>
  .background-color {
      background-color: #275daa; /* Your specified blue color */
      color: white; /* High contrast text color */
      padding: 20px; /* Optional padding for better spacing */
      border-radius: 12px;
  }
</style>

<br>

<div class="container">
  <div class="row">
      <div class="col">
    
          <p class="">About Phishing Detection System </p>
      </div>
  </div>
</div>


    




{% endblock %}
