{% extends "app01_phish_detector/base.html" %}
{% load static %}

{% block body_block %}

<br>

<div class="container">
  <div class="row">
      <div class="col">
    
      

        <h1>Check if a URL is a phishing attempt</h1>
        <form action="{% url 'predict' %}" method="get">
            <input type="text" name="features" placeholder="Enter URL features" required>
            <button type="submit">Detect</button>
        </form>


      </div>
  </div>
</div>


    




{% endblock %}
